body {
  padding: 20px;
  height: 100%;
  width: 100%;
}

#search-form, .form-control {
  margin-bottom: 60px;
}

.list-group-item {
  height: 56px;
  color: #000;
}

.btn-vote {
  float: right;
}

.btn-add {
  float: right;
}

.votes {
  float: right;
  background: #0C98CF;
  border: 0px solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin-left: 14px;
  margin-top: 7px;
}
