body {
  padding: 20px;

  background: linen;
  height: 100%;
  width: 100%;

}

#search-form, .form-control {
  margin-bottom: 0px;
  background-color: lightPink;
}
#search{
  background:#ff99a8;
  transition:all 0.3s ease;
}
#search:hover{
  opacity:0.5;
}

.list-group-item {
  height: 56px;
  background-color: lightPink;
  color: #000;
  transition:all 0.3s ease;

}
.list-group-item:hover{
  -webkit-transform:scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}

.btn-vote {
  float: right;
  background: #ff99a8;
}

.btn-add {
  float: right;
}

.votes {
  float: right;
  background: #ff667d;
  border: 0px solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin-left: 14px;
  margin-top: 7px;
}

h1{
  text-align: center;
  font-size: 5em;
  color:pink;

}
.logo{
  float:right;
  width:50px;
  height:50px;
}

h2{
  color:HotPink;
}

