body {
  padding: 20px;
}

#search-form, .form-control {
  margin-bottom: 60px;
}

.list-group-item {
  height: 56px;
}

.btn-vote {
  float: right;
}

.votes {
  float: right;
  background: #1abc9c;
  border: 0px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 10px;
  margin-top: 7px;
}
