body {
  padding: 20px;

  background: url("/images/bg1.png") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

}

#search-form, .form-control {
  margin-bottom: 0px;
  background-color: white;
}
#search{
  background:#ffffff;
  transition:all 0.3s ease;
  border: none;
}
#search:hover{
  opacity:0.5;
}

.list-group-item {
  height: 56px;
  background-color: lightPink;
  color: #000;
  transition:all 0.3s ease;
}

.list-group-item:hover{
  -webkit-transform:scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}

.list-group-item {
  height: 56px;
  background-color: lightPink;
  color: #000;
  transition:all 0.3s ease;
}

.list-group-item:hover{
  -webkit-transform:scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}

.btn-vote {
  float: right;
  background: #ff99a8;
}

.btn-add {
  float: right;
}

.votes {
  float: right;
  background: #ff667d;
  border: 0px solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin-left: 14px;
  margin-top: 7px;
}

h1{
  text-align: center;
  font-size: 5em;
  color:pink;

}
.logo{
  float:right;
  width:50px;
  height:50px;
}

h2{
  color:HotPink;
  text-align: center;
}
h3{
  color:white;
  text-align: center;
  font-size: 5em;
}

p{
  font-size: 25px;
  color:white;
}

.cover {
  height: 100%;
  margin-right: 4px;
}

.dancer {
  height: 40px;
}

@keyframes blink {
   50% { border-color: white; }
}

.nowPlaying {
  text-align: center;
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
  animation: blink .5s step-end infinite alternate;
}

#note {
  image-size: 10px;
  visibility: hidden;
  margin-right: 10px;
}

#currentSong {
  visibility: hidden;
}


.scroll-left {
 height: 50px;  
 overflow: hidden;
 position: relative;
 background: transparent;
 color: white;
 border: none;
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(40%);
 -webkit-transform:translateX(-40%);  
 transform:translateX(-40%);
 /* Apply animation to this element */  
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
